body{
	border: 5px solid green;
}

div.octopus {
	height: 400px;
	width: 210px;
	margin: 200px auto 0px auto;
}

div.hat {
/*	height: 167px;
	width: 275px; */
	position: relative;
}

div.glasses {
/*	height: 58px;
	width: 135px; */
	position: relative;
}
